<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <h1>Welcome to Dailies!</h1>
    
    <div class ="whole">
      <% dailies.forEach(daily => { %>
        <div class ="daily">
          <h3 id="edit"> <a href="/dailies/<%= daily._id %>/edit" ><%= daily.title %> </a></h3>
          <p><%= daily.description %></p>
          <p id ="completed">
            This daily <%= daily.completed ? 'has' : 'has not' %> been completed
          </p>
          <div >
            <form action="/dailies/<%= daily._id %>?_method=DELETE" method="POST">
              <input id="remove" type="submit" value="Remove" />
            </div>
          </form>
        </div>
        <% }) %> 
    </div>
    </ul>
    <h3><a href="/dailies/new">Add New Daily</a></h3>
  </body>
</html>
