<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <h1>Welcome to Dailies!</h1>
    <div class ="whole">
    <% dailies.forEach(daily => { %>
      
      <div class ="daily">
       <h3> <a href="/dailies/<%= daily._id %>/edit" id="edit"><%= daily.title %> </a></h3>
        <p><%= daily.description %></p>
        <form action="/dailies/<%= daily._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Remove" id="remove" />
      </form>
    </div>
      <% }) %> 
    </div>
      <a href="/dailies/new">New Daily</a>
    </ul>
  </body>
</html>
